.modal-wrapper {
  height: 50%;
  width: 60%;
  position: absolute;
  background-color: gray;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  display: none;
}

.edit-message-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 5;
  display: none;
}

.edit-message-modal.modal-shown,
.edit-message-modal.modal-shown .modal-wrapper {
  display: block;
}

.modal-title {
  font-size: 22px;
  margin: 10px 0;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.edit-message-input {
  margin: 20px 0;
  height: 120px;
  width: 100%;
}

.buttons-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.edit-message-button,
.edit-message-close {
  padding: 5px 10px;
  width: 80px;
}

.edit-message-button {
  margin-right: 20px;
}
