.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 25px 30px 20px;
  height: 80px;
  background-color: #7285A5;
  border-bottom: 1px solid rgb(15, 31, 66);
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
  color: rgb(209, 209, 209);
  position: relative;
  z-index: 1;
}

.header,
.header-title {
  font-size: 20px;
}

.header-info-wrapper {
  display: flex;
  align-items: flex-end;
}

.header-title {
  margin: 0;
}

.header-users-count,
.header-title {
  margin-right: 25px;
}